<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Legaltime" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="font-mono flex flex-col border-2 border-black m-4" style="height: calc(100vh - 2rem); ">
      <header class="border-b-2 border-black p-2">
        <h1 class="mb-0 text-sm font-normal">
          legaltime |
          <span class="text-slate-500">proactive legal time tracking</span>
      </header>
      <main class="flex-grow p-2 overflow-y-auto">
       <%= yield %>
      </main>
      <footer class="border-t-2 border-black p-2 mt-auto">
       <p class="text-xs">&copy; <%= Time.current.year %> Art Redacted LLC</p>
      </footer>
    </div>
  </body>
</html>
